.card {
    background-color: aliceblue;
    flex: 2 200px;
    margin: 5px;
    /* padding: 0 10px; */
}

.footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 100%;
    margin-top: 10px;
    background-color: antiquewhite;
}

.icono {
    margin: 0 5px;
}

.btn {
    width: 100%;
}