//definimos la variable yellow
$yellow: #fffa19;
$green: #4fff19;
$red: #ff6219;

//declaramos un mixin, que es una funcion en sass
@mixin margenes($margen){
    margin: $margen;
}

@mixin colorFondo($color){
    background-color: $color;
}

.breadcrumb{
    @include colorFondo($red);
}

.card {
    @include colorFondo($yellow);
    flex: 2 200px;
    margin: 5px;
    @include margenes(5px); //usamos la funcion y le mandamos parametros
    /* padding: 0 10px; */
}

.footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 100%;
    margin-top: 10px;
    @include colorFondo($green);
}

.icono {
    margin: 0 5px;
}

.btn {
    width: 100%;
}