//en sass se definen con $, en less con @
@yellow: #fffa19;
@green: #4fff19;
@red: #ff6219;

//declaramos un mixin, que es una funcion en sass y less
.margenes(@margen){
    margin: @margen;
}

.breadcrumb {
    background-color: @red;
  }
  
  .card {
    background-color: @yellow;
    flex: 2 200px;
    .margenes(5px); //usamos el mixin
    /* padding: 0 10px; */
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 100%;
    margin-top: 10px;
    background-color: @green;
  }
  
  .icono {
    margin: 0 5px;
  }
  
  .btn {
    width: 100%;
  }
  
  /*# sourceMappingURL=styles.css.map */
  