.breadcrumb {
  background-color: #ff6219;
}

.card {
  background-color: #fffa19;
  flex: 2 200px;
  margin: 5px;
  margin: 5px;
  /* padding: 0 10px; */
}

.footer {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 100%;
  margin-top: 10px;
  background-color: #4fff19;
}

.icono {
  margin: 0 5px;
}

.btn {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
